@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  background: radial-gradient(circle at 0% 100%, #3b3b3b, #222222, #0b0b0b, #000000, #000000, #0b0b0b, #222222, #3b3b3b);
  background-attachment: fixed;
  color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.main-header {
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}
.main-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 0.5s;
}
.main-header .main-header__logo img {
  height: 4rem;
}
.main-header .nav-desktop__items {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.main-header .nav-desktop__items .nav-desktop__item {
  margin: 0 1.5rem;
  font-weight: 700;
  text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000;
}
.main-header .nav-desktop__items .nav-desktop__item a {
  text-decoration: none;
  color: #FFFFFF;
}
.main-header .nav-desktop__items .nav-desktop__item a:hover {
  color: #E5B047;
}

.section-grid {
  height: 100vh;
  display: grid;
  grid-template-rows: 15vh 2rem 25% 1fr 2rem 15vh;
  grid-template-areas: "." "." "section_title" "section_content" "." ".";
}

.grid-title {
  grid-area: section_title;
  align-self: center;
}

.grid-content {
  grid-area: section_content;
}

.section-title {
  font-weight: 900;
  font-size: 2rem;
}

@keyframes scrollLeft {
  to {
    left: -500px;
  }
}
@keyframes scrollRight {
  to {
    right: -500px;
  }
}
#hero {
  height: 100vh;
  display: grid;
  grid-template-rows: 20vh 1fr 1fr 1fr 15vh;
  grid-template-columns: 100vw;
}
#hero .itemRight {
  right: max(1600px, 100% + 200px);
  animation-name: scrollRight;
}
#hero .itemLeft {
  left: max(1600px, 100%);
  animation-name: scrollLeft;
}
#hero .item1 {
  animation-delay: -70s;
}
#hero .item2 {
  animation-delay: -60s;
}
#hero .item3 {
  animation-delay: -50s;
}
#hero .item4 {
  animation-delay: -40s;
}
#hero .item5 {
  animation-delay: -30s;
}
#hero .hero-title1 {
  font-size: 7rem;
  grid-row: 2/3;
  grid-column: 1;
  z-index: 0;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
}
#hero .hero-title1 div {
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
#hero .hero-title2 {
  font-size: 7rem;
  grid-row: 4/5;
  grid-column: 1;
  z-index: 2;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0));
  margin-top: 80px;
}
#hero .hero-title2 div {
  position: absolute;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}
#hero .hero__image-container {
  text-align: center;
  grid-row: 2/5;
  grid-column: 1;
  align-self: center;
  z-index: 1;
}

hr {
  background-color: #E5B047;
  height: 0.2rem;
  border: none;
  width: 15rem;
}

.text-align--center {
  text-align: center;
}

.highlited-text {
  color: #E5B047;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

#about {
  width: 100%;
}
#about .about__container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#about .about__container .about__container--text {
  width: 50%;
  font-size: 1.2rem;
}
#about .about__container .about__container--image-container img {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 1rem;
  box-shadow: 5px 5px 2px #2c2c2c;
}

#attractions .attractions__cards {
  width: 100%;
  display: flex;
  justify-content: center;
}
#attractions .attractions__card {
  background-color: #FFFFFF;
  font-weight: 700;
  aspect-ratio: 2/0.8;
  width: 20vw;
  max-width: 320px;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  box-shadow: -3px 3px 2px #c4c4c4;
}
#attractions .attractions__card img {
  width: 100%;
  height: auto;
  max-height: 230px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  box-shadow: -3px 0px 2px #c4c4c4;
}
#attractions .attractions__card .attractions__card--title {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;
}

#key-traits .key-traits__grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 7% 38% 10% 38% 7%;
  grid-template-rows: 40% 40% 20%;
  grid-template-areas: ". first_trait vertical_line third_trait ." ". second_trait vertical_line fourth_trait ." ". . . . .";
}
#key-traits .key-traits__grid-container .key-trait:nth-child(1) {
  grid-area: first_trait;
}
#key-traits .key-traits__grid-container .key-trait:nth-child(2) {
  grid-area: second_trait;
}
#key-traits .key-traits__grid-container .key-trait:nth-child(4) {
  grid-area: third_trait;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#key-traits .key-traits__grid-container .key-trait:nth-child(5) {
  grid-area: fourth_trait;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#key-traits .vertical-line {
  grid-area: vertical_line;
  background-color: #E5B047;
  height: 100%;
  border: none;
  width: 0.2rem;
  margin-bottom: 4rem;
}
#key-traits .key-trait {
  font-weight: 400;
}

.margin__0 {
  margin: 0;
}

#offers .offers__subtitle {
  max-width: 60%;
  margin: 1rem auto 0 auto;
  text-align: center;
  font-size: 1.2rem;
}
#offers .offers--list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 14% 30% 12% 30% 14%;
  grid-template-rows: 50% 50%;
  grid-template-areas: ". first_offer . third_offer ." ". second_offer . fourth_offer .";
  height: 100%;
}
#offers .offers--list .offer:nth-child(1) {
  grid-area: first_offer;
}
#offers .offers--list .offer:nth-child(2) {
  grid-area: second_offer;
}
#offers .offers--list .offer:nth-child(3) {
  grid-area: third_offer;
}
#offers .offers--list .offer:nth-child(4) {
  grid-area: fourth_offer;
}

#contact {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 9% 1fr;
  grid-template-areas: "." "contact_title" "contact_content";
}
#contact .grid-title--contact {
  grid-area: contact_title;
}
#contact .grid-content--contact {
  grid-area: contact_content;
  position: relative;
}
#contact .grid-content--contact:before {
  content: "";
  position: absolute;
  background: url("Images/kontakt_bg.jpg") center top/cover no-repeat border-box;
  opacity: 0.5;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#contact .grid-content--contact .contact__informations {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
  width: 35rem;
  height: 35rem;
  background-color: #FFFFFF;
  border-radius: 10%;
  margin-left: 10vw;
  padding: 2rem;
}
#contact .grid-content--contact .contact__informations svg {
  width: 70px;
  height: 70px;
}
#contact .grid-content--contact .contact__informations .contact__informations__title {
  font-size: 2rem;
  font-weight: 900;
}
#contact .grid-content--contact .contact__informations .contact__information {
  margin: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#contact .grid-content--contact .contact__informations .contact__information .svg {
  width: 30%;
}
#contact .grid-content--contact .contact__informations .contact__information .contact__information--text {
  width: 70%;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
}

.animation_fadeInTop {
  animation: fadeInTop linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.animation_fadeInBottom {
  animation: fadeInBottom linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.animation_fadeInLeft {
  animation: fadeInLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.animation_fadeInRight {
  animation: fadeInRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 45%;
}

.animation_fadeInLeft2 {
  animation: fadeInLeft linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

.animation_fadeInRight2 {
  animation: fadeInRight linear;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
.scroller {
  width: 100vw;
  max-width: 1500px;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  --_animation-duration: 35s;
  --_animation-direction: forwards;
}

.scroller[data-animated=true] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/*# sourceMappingURL=style.css.map */
